body,
button,
input,
select,
textarea {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
}

section.inflab-integrated {
  position: sticky;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-bottom: 1px solid #f1f3f5;
  z-index: 30;
}

#header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 74;
  background-color: orange;
}

#main {
  min-height: 800px;
  background-color: yellow;
}

footer.footer {
  background-color: green;
}
